name: Github Action to Generate Gallery Template to Deploy on Github Pages

on:
  push:
    branches:
      - main
  # Allows manual triggering from the Actions tab in GitHub
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11' # Choose your desired Python version

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install numpy opencv-python-headless exifread tqdm pillow

      - name: Run Python script to generate site
        run: python prepareSite.py

      - name: Prepare site for deployment
        run: |
          mkdir _site
          cp index.html _site/
          cp -r css _site/
          cp -r js _site/
          cp -r fulls _site/
          cp -r metadata _site/
          cp -r thumbs _site/

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: './_site'
          
      - name: Configure GitHub Pages
        uses: actions/configure-pages@v5
        
    permissions:
      contents: read
      pages: write
      id-token: write
      
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
